# But not these files...
!/.gitignore

#binaries
bin/*
**/power-dra-kubeletplugin*

!*.go
!go.sum
!go.mod

!README.md
!LICENSE
!examples/*.yaml
!manifests/*.yaml
!pkg/webhook/testdata/pod.json
!manifests/webhook/*.yaml
!Makefile
!Dockerfile

# Image
!build/Containerfile
!build/Containerfile-build
!build/entrypoint.sh

# Workflows
!.github/dependabot.yml
!.github/workflows/publish.yaml

# ...even if they are in subdirectories
!*/
